.container {
    width: 35%;

    div {
        display: flex;
    }

    svg {
        width: 20px;
        height: 20px;
        margin-right: 8px;
    }

    .content {
        justify-content: space-between;
    }

    .logo {
        img {
            height: 80px;
        }
    }

    .streak {
        align-items: center;
       
    }

    .completed {
        margin: 20px 2rem 0.5rem;
        color: rgb(83, 83, 83);
        font-weight: 600;

        align-items: center;

    }

    .address {
       display: flex;
       width: 100%;
       justify-content: center;

       span {
        color: #09315e;
        font-family: 'Roboto';
       }
    }
}