.list{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgb(240, 240, 240);
    border-radius: 12px;
    width: 40%;
    max-height: 90vh;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;

    ::-webkit-scrollbar {
    width: 3px;
    height: 7px;
    }

    ::-webkit-scrollbar-track {
    background: #dddddd;
    }

    ::-webkit-scrollbar-thumb {
    background: #888888;
    }

    ::-webkit-scrollbar-thumb:hover {
    background: #555555;
    } 
}

.newChallenges {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 20px;

    background-color: rgb(240, 240, 240);
    border-radius: 12px;
    width: 40%;
    max-height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    .newChallengeCard{
        display: flex;
        justify-content: space-between;
        align-items: center;

        cursor: not-allowed;
        margin: 24px 0;

        border-radius: 12px;
        background-color: #8081a3;
        position: relative;
       
        color: white;

        .challengeInfo {
            font-family: 'Roboto';
            margin: 0 1rem;

            h2 {
                margin: 0;
                font-size: 18px;
                font-weight: 500;
            }

            span {
                font-size: 15px;
            }
        }

        img{
            display: block;
            max-height: 120px;
            z-index: 2;
        }

        .effect{
            z-index: 1;
            position: absolute;
            right: 20%;
            bottom: 0;

            transform: rotate(90deg);
        }
    }
}

.close {
    align-self: flex-end;
    cursor: pointer;
    padding: 0;

    color: red;
    border: none;
    background: transparent;

    svg {
        width: 30px;
        height: 30px;
    }
}

